<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="sy.dao.TextMapper">
	<resultMap id="BaseResultMap" type="sy.model.Text">
		<id column="ID" property="id" jdbcType="DECIMAL" />
		<result column="JJDM" property="jjdm" jdbcType="VARCHAR" />
		<result column="KMMC" property="kmmc" jdbcType="VARCHAR" />
		<result column="YUE" property="yue" jdbcType="VARCHAR" />
	</resultMap>

	<sql id="Base_Column_List">
		ID,JJDM,KMMC,YUE
	</sql>

	<select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.math.BigDecimal">
		select
		<include refid="Base_Column_List" />
		from Text
		where ID = #{id,jdbcType=DECIMAL}
	</select>

	<delete id="deleteByPrimaryKey" parameterType="java.math.BigDecimal">
		delete from Text
		where ID = #{id,jdbcType=DECIMAL}
	</delete>

	<insert id="insert" parameterType="sy.model.Text">
		insert into Text (ID, JJDM,
		KMMC, YUE)
		values (Seq_Text.Nextval,
		#{jjdm,jdbcType=VARCHAR},
		#{kmmc,jdbcType=VARCHAR},
		#{yue,jdbcType=VARCHAR})
	</insert>

	<update id="updateByPrimaryKeySelective" parameterType="sy.model.Text">
		update Text
		<set>
			<if test="jjdm != null">
				JJDM = #{jjdm,jdbcType=VARCHAR},
			</if>
			<if test="kmmc != null">
				KMMC = #{kmmc,jdbcType=VARCHAR},
			</if>
			<if test="yue != null">
				YUE = #{yue,jdbcType=VARCHAR}
			</if>
		</set>
		where ID = #{id,jdbcType=DECIMAL}
	</update>

	<update id="updateByPrimaryKey" parameterType="sy.model.Text">
		update Text
		set
		JJDM = #{jjdm,jdbcType=VARCHAR},
		KMMC =
		#{kmmc,jdbcType=VARCHAR},
		YUE =
		#{yue,jdbcType=VARCHAR}
		where ID = #{id,jdbcType=DECIMAL}
	</update>

	<!-- 分页查询 -->
	<select id="getTextByVo" resultMap="BaseResultMap" parameterType="sy.vo.TextVo">
		select
		<include refid="Base_Column_List" />
		from Text
		<where>
			<if test="jjdm != null">
				and JJDM = #{jjdm,jdbcType=VARCHAR}
			</if>
			<if test="kmmc != null">
				and KMMC = #{kmmc,jdbcType=VARCHAR}
			</if>
			<if test="yue != null">
				and YUE = #{yue,jdbcType=VARCHAR}
			</if>
		</where>
		order by id
	</select>

</mapper>