<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sy.dao.TradPoMapper">
	<resultMap id="BaseResultMap" type="sy.model.TradPo">
		<id column="ID" jdbcType="DECIMAL" property="id" />
		<result column="USER_ID" jdbcType="VARCHAR" property="userId" />
		<result column="TEXT_ID" jdbcType="VARCHAR" property="textId" />
		<result column="FORM_YUE" jdbcType="VARCHAR" property="formYue" />
	</resultMap>

	<sql id="Base_Column_List">
		ID, USER_ID, TEXT_ID, FORM_YUE
	</sql>

	<select id="selectByPrimaryKey" parameterType="java.math.BigDecimal" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from TRAD
		where ID = #{id,jdbcType=DECIMAL}
	</select>

	<delete id="deleteByPrimaryKey" parameterType="java.math.BigDecimal">
		delete from TRAD
		where ID = #{id,jdbcType=DECIMAL}
	</delete>

	<insert id="insert" parameterType="sy.model.TradPo">
		insert into TRAD (ID, USER_ID, TEXT_ID,
		FORM_YUE)
		values (Seq_Trad.Nextval,
		#{userId,jdbcType=VARCHAR}, #{textId,jdbcType=VARCHAR},
		#{formYue,jdbcType=VARCHAR})
	</insert>
	
	<insert id="insertSelective" parameterType="sy.model.TradPo">
		insert into TRAD
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				ID,
			</if>
			<if test="userId != null">
				USER_ID,
			</if>
			<if test="textId != null">
				TEXT_ID,
			</if>
			<if test="formYue != null">
				FORM_YUE,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=DECIMAL},
			</if>
			<if test="userId != null">
				#{userId,jdbcType=VARCHAR},
			</if>
			<if test="textId != null">
				#{textId,jdbcType=VARCHAR},
			</if>
			<if test="formYue != null">
				#{formYue,jdbcType=VARCHAR},
			</if>
		</trim>
	</insert>
	
	<update id="updateByPrimaryKeySelective" parameterType="sy.model.TradPo">
		update TRAD
		<set>
			<if test="userId != null">
				USER_ID = #{userId,jdbcType=VARCHAR},
			</if>
			<if test="textId != null">
				TEXT_ID = #{textId,jdbcType=VARCHAR},
			</if>
			<if test="formYue != null">
				FORM_YUE = #{formYue,jdbcType=VARCHAR},
			</if>
		</set>
		where ID = #{id,jdbcType=DECIMAL}
	</update>
	
	<update id="updateByPrimaryKey" parameterType="sy.model.TradPo">
		update TRAD
		set USER_ID = #{userId,jdbcType=VARCHAR},
		TEXT_ID =
		#{textId,jdbcType=VARCHAR},
		FORM_YUE = #{formYue,jdbcType=VARCHAR}
		where ID = #{id,jdbcType=DECIMAL}
	</update>
	
</mapper>