<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:util="http://www.springframework.org/schema/util"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:jms="http://www.springframework.org/schema/jms"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd
		http://www.springframework.org/schema/jms http://www.springframework.org/schema/jms/spring-jms.xsd
		http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd">

	<!-- 消息发送者,生产者配置 -->
	<!-- 配置消息中介connectionFactory工厂(消息发送者,生产者) -->
	<bean id="jmsFactory-send" class="org.apache.activemq.pool.PooledConnectionFactory" destroy-method="stop">
		<property name="connectionFactory">
			<bean class="org.apache.activemq.ActiveMQConnectionFactory">
				<property name="brokerURL" value="${mq.brokerURL}" />
				<property name="userName" value="${mq.userName}" />
				<property name="password" value="${mq.password}" />
				<!-- 是否异步分发异步设置为true-->
				<property name="dispatchAsync" value="true" />
				<!-- 是否异步方式发送-->
				<property name="useAsyncSend" value="true" />
			</bean>
		</property>
		<!-- 设置连接的最大连接数 -->
		<property name="maxConnections" value="${mq.maxConnections}"></property>
	</bean>

	<!-- Spring JmsTemplate 的消息生产者 -->
	<bean id="jmsTemplate" class="org.springframework.jms.core.JmsTemplate">
		<property name="connectionFactory" ref="jmsFactory-send"/>
		<!-- 消息不持久化 -->
		<property name="explicitQosEnabled" value="true" />
	</bean>

	<!-- 信号发送类 -->
	<bean id="producer" class="sy.jms.Producer">
		<!-- 消息key:发送与消费需要同意 -->
		<property name="destinationName" value="${queque.signal}" />
		<property name="jmsTemplate" ref="jmsTemplate" />
	</bean>




	<!-- 消息接收者配置(消费者) -->
	<!-- 配置connectionFactory -->
	<bean id="jmsFactory-signal-receive" class="org.apache.activemq.pool.PooledConnectionFactory" destroy-method="stop">
		<property name="connectionFactory">
			<bean class="org.apache.activemq.ActiveMQConnectionFactory">
				<property name="brokerURL" value="${mq.brokerURL}" />
				<property name="userName" value="${mq.userName}" />
				<property name="password" value="${mq.password}" />
				<!-- activeMQ预取策略 -->
				<property name="prefetchPolicy">
					<bean class="org.apache.activemq.ActiveMQPrefetchPolicy">
						<!-- 设置消费者的预取限制 -->
						<property name="queuePrefetch" value="100" />
					</bean>
				</property>
				<!-- 设置序列化白名单 -->
				<property name="trustAllPackages" value="true"/>
			</bean>
		</property>
		<property name="maxConnections" value="${mq.maxConnections}"></property>
	</bean>

	<!-- 发送结果:即消息接收者配置(消费者) -->
	<bean id="jmsContainer-signal" class="org.springframework.jms.listener.DefaultMessageListenerContainer">
		<property name="connectionFactory" ref="jmsFactory-signal-receive"></property>
		<!-- 消息key:发送与消费需要同意 -->
		<property name="destinationName" value="${queque.signal}"></property>
		<!-- 监听类:消息消费类 -->
		<property name="messageListener">
			<bean class="sy.jms.Consumer">
				<property name="producer" ref="producer"></property>
			</bean>
		</property>
		<property name="sessionTransacted" value="false" />
		<!-- 监听个数 -->
		<property name="concurrentConsumers" value="5" />
		<!-- 消息确认方式:自动确认 -->
		<property name="sessionAcknowledgeModeName" value="AUTO_ACKNOWLEDGE" />
	</bean>






</beans>